
a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    min-height: 150px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
header nav a{
    margin: 7px;
    font-weight: 600;
    padding-right: 20px;
    border-radius: 10%;
    
}
header nav a:hover {
    transition: all 0.4s linear;
    background-color:gold;
    color: black;
}

.logo {
    display: flex;
    margin: 20px;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 30px;
}

section{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.cuadros h3{
    text-align: center;
}

.cuadros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 0 6px 0 rgba(54, 53, 53, 0.8);
    border-radius: 10px;
}

.cuadros img{
    height: 100px;
    margin: 0 auto;
}

.grupo{
    display: flex;
    text-align: center;
    
}


form{
    margin: 5px;
    justify-content: center;
    align-items: center;
    
}

form .grupo{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px;
}


.form{
    width: 100%;
}

.form input{
    background: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

.form input:focus{
    outline: none;
}

button{
    font-family: 'roboto';
    background-color: gold;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: -8px;
}

.cuadrito img{
    height: 300px;
}


@media (max-width:770px){
    header{
        flex-direction: column;
    }
    header nav{
        padding: 10px 0px;
    }
    section{
        flex-direction: column;
        align-items: center;
    }
}